.hide {
    display: none;
}

svg {
    overflow: visible;
}

.dropzone {
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    border-radius: 3px/6px;
}

.county {
    fill: #d1cec7;
    stroke: gray;
    stroke-width: 1;
    stroke-opacity: 1;
}

.county-selected {
    fill: #474745;
}

button {
    border-radius: 12px;
    background-color: #F2F2F2;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 150px;
}

.flexbox-container {
    display: flex;
    height: 400px;
    flex-direction: column;
}

.flexbox-dropzone {
    width: 25%;
    margin-top: 20px;
}

.flexbox-chart {
    width: 75%;
}

.overflow-fix {
    position: relative;
    z-index: -1;
}

.turnout-chart {
    width: 200px;
    height: 400px;
}

@media only screen and (min-width: 1146px) {
    .flexbox-container {
        flex-direction: row;
    }
    .turnout-chart {
        width: 800px;
    }
}